#content{
    background-color: transparent;
}

#tabs .nav-link{
      color: #2a2a2a;
      background: rgba(255, 255, 255, 0.70);
      margin-right: 2px;

}

#tabs .tab-content, #tabs .active{
  background-color:rgba(255, 255, 255, 0.95);
  color: #2a2a2a;
}