#contact-form {
    width: 100%;
    max-width: 550px;
    margin: auto;
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 1.2em;
}

#success_message {
    display: none;
}

.error {
    color: red
}

.valid.error {
    color: green;
}

#contact-form textarea{
     resize: none;
}

#contact-form input,
#contact-form textarea {
    margin-top: 10px;
}

#contact-logo{
    width: 100px;
    margin-bottom: 20px;
}