#contact-form {
    width: 400px;
    height: 500px;
    margin: auto;
    width: 50%;
    margin-top: 5%;
    margin-bottom: 5%;
}

#success_message {
    display: none;
}

.error {
    color: red
}

.valid.error {
    color: green;
}

input,
textarea {
    margin-top: 10px;
}

#contact-logo{
    width: 100px;
    margin-bottom: 20px;
}