.blogShort {
    border-bottom: 1px solid grey;
    padding: 25px;
}

#news-title {
    color: grey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#read-more {
    margin-top: 20px;
}

article>p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}