.blogShort {
    border-bottom: 1px solid grey;
    padding: 25px;
}

#news-title {
    color: grey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#read-more,
.fb-share-button {
    margin-top: 1%;
    margin-left: 1%;
}

article>p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}