#settings h3 {
    font-size: 20px;
    padding: 20px 0 10px 0;
}

#settings .form {
    padding: 10px;
    width: 50%;
}

#settings label {
    font-weight: bold;
    font-style: italic;
}

#settings #save-changes {
    margin-bottom: 1.5%;
}

#settings hr {
    border-bottom: 1px solid #2a2a2a;
}

#save-changes-message {
    color: green;
    font-weight: 800;
    padding-bottom: 1%;
}