.tab-content{
    padding-top: 1%; 
    padding-bottom: 1%;
}

.square-right {
    float: left;
    position: relative;
    width: 97.5%;
    padding-bottom: 97.5%;
    margin: 1.25%;
    background-color: rgba(26, 193, 21,0.7);
    overflow: hidden;
    border-radius: 1.5%;
}

.square-middle {
    float: left;
    position: relative;
    width: 97.5%;
    padding-bottom: 197%;
    margin: 1.25%;
    background-color: rgba(86,150,255,0.8);
    overflow: hidden;
    border-radius: 1.5%;
}

.square-left {
    float: left;
    position: relative;
    width: 97.5%;
    padding-bottom: 97.5%;
    margin: 1.25%;
    background-color: rgba(42, 42, 42, 0.7);
    overflow: hidden;
    border-radius: 1.5%;
}

.right-column,
.left-column,
.middle-column {
    padding-left: 2px;
    padding-right: 2px;
}

.content-square-right {
    position: absolute;
    height: 97.5%;
    width: 97.5%;
    font-size: 18px;
    font-family: 'Lato', verdana, sans-serif;
    color: whitesmoke;
}

.content-square-middle {
    position: absolute;
    padding: 5%;
    height: 97.5%;
    width: 100%;
    font-size: 18px;
    font-family: 'Lato', verdana, sans-serif;
    color: whitesmoke;
}

.content-square-left {
    position: absolute;
    width: 100%;
    font-size: 22px;
    font-family: 'Lato', verdana, sans-serif;
    color: whitesmoke;
}

.right-column .company-name {
    padding: 4% 0 0 4%;
    margin: 0;
}

.right-column .index {
     margin: 0;
    text-align: center;
    font-size: 1em;
}

.right-column .change-p{
    margin: 0;
    font-size: 1.8em;
    text-align: center;
    padding: 20% 0 15% 0;
}

.middle-column div {
    margin-bottom: 2%;
}

.middle-column p {
    margin-bottom: 0;
    font-size: 1.2em;
}

.middle-column h4 {
    font-style: italic;
    font-size: 1.7em;
}

.middle-column .align-right {
    position: relative;
    overflow: hidden;
    width: 70%;
}

.middle-column .align-left {
    position: relative;
    overflow: hidden;
    float: left;
    width:30%;
}

.left-column #date {
    padding-top: 30%;
}

.left-column p{
    margin-bottom: 0;
}

.left-column #state {
    padding: 15% 0 3% 0;
    border-bottom: #2a2a2a 1px solid;
}

.left-column #will {
    padding: 3% 0 15% 0;
    text-align: center;
}

.red {
    background-color: rgba(178,1,10,0.7);
}

@media (max-width: 575px) {
    .right-column .change-p,
    .content-square-left p,
    .content-square-right p {
        font-size: 2em;
    }
    .right-column .index {
        font-size: 1.7em;
    }

    .content-square-middle div {
        font-size: 1.25em;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .content-square-middle div {
        font-size: 0.85em;
    }
    .middle-column h4 {
        font-size: 0.85em;
    }

     #state, #will{
        font-size: 0.8em;
    }

}