/*#right-column,
#middle-column {
    float: right;
    width: 33.3%;
    background-color: rgba(255, 255, 255, 0.95);
}

#left-column {
    float: right;
    width: 33.4%;
    background-color: rgba(255, 255, 255, 0.95);
}*/

.square-right {
    float: left;
    position: relative;
    width: 97.5%;
    padding-bottom: 97.5%;
    margin: 1.25%;
    background-color: #0cb23e;
    overflow: hidden;
    border-radius: 1.5%;
}

.square-middle {
    float: left;
    position: relative;
    width: 97.5%;
    padding-bottom: 197%;
    margin: 1.25%;
    background-color: #002a5e;
    overflow: hidden;
    border-radius: 1.5%;
}

.square-left {
    float: left;
    position: relative;
    width: 97.5%;
    padding-bottom: 97.5%;
    margin: 1.25%;
    background-color: #b2010a;
    overflow: hidden;
    border-radius: 1.5%;
}

.right-column,
.left-column,
.middle-column {
    padding-left: 2px;
    padding-right: 2px;
}

.content-square-right {
    position: absolute;
    height: 97.5%;
    width: 97.5%;
    font-size: 18px;
    font-family: 'Lato', verdana, sans-serif;
    color: whitesmoke;
    text-align: center;
}

.content-square-middle {
    position: absolute;
    height: 97.5%;
    width: 97.5%;
    padding: 1.25%;
    font-size: 14px;
    font-family: 'Lato', verdana, sans-serif;
    color: whitesmoke;
}

.content-square-left {
    position: absolute;
    width: 100%;
    font-size: 22px;
    font-family: 'Lato', verdana, sans-serif;
    color: whitesmoke;
}

.right-column .company-name {
    padding-top: 12%;
}

.right-column .index {
    font-size: 1.5em;
}

.right-column .green-arrow {
    width: 13%;
}

.right-column .red-arrow {
    width: 14%;
}

.middle-column h4 {
    padding-top: 5%;
}

.middle-column p {
    margin-bottom: 0.4rem;
}

.middle-column .align-right {
    position: relative;
    float: right;
    overflow: hidden;
    width: 25%;
}

.middle-column .align-left {
    position: relative;
    float: left;
    overflow: hidden;
    width: 75%;
}

.left-column #date {
    padding-top: 25%;
}

.left-column #state {
    padding: 15% 20% 3% 25%;
    margin-bottom: 0.1rem;
    border-bottom: #2a2a2a 1px solid;
}

.left-column #will {
    padding: 3% 20% 15% 20%;
    text-align: center;
}

.right-column .red {
    background-color: #b2010a;
}

@media (max-width: 575px) {
    .content-square-left p,
    .content-square-right p {
        font-size: 2em;
    }

    .content-square-middle div {
        font-size: 1.25em;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .content-square-middle div {
        font-size: 0.85em;
    }
    .middle-column h4 {
        font-size: 0.85em;
    }

     #state, #will{
        font-size: 0.8em;
    }

}