<link rel="stylesheet" type="text/css" href="./css/account-tabs.css">
<link rel="stylesheet" type="text/css" href="./css/watchlist.css">

<div id="tabs" class="container">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link" href="#/account/portfolio" role="tab">My Portfolio</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="#/account/watchlist" role="tab">Watchlist</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#/account/news" role="tab">News</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div id="right-column">
            <div class="square-right">
                <div class="content-square-right">
                    <p class="company-name">APPLE</p>
                    <p class="index">465.67</p>
                    <p><img class="green-arrow" src="http://www.clker.com/cliparts/8/8/2/2/11949856011357057871arrow-up-green_benji_par_01.svg.hi.png"
                            alt="green-arrow">10%</p>
                </div>
            </div>
            <div class="square-right">
                <div class="content-square-right">
                    <p class="company-name">GOOGLE</p>
                    <p class="index">125.23</p>
                    <p><img class="red-arrow" src="http://www.albalicentros.com/wp-content/uploads/2016/03/down-254095_960_720.png"
                            alt="red-arrow">5%</p>
                </div>
            </div>
            <div class="square-right">
                <div class="content-square-right">
                    <p class="company-name">TESLA</p>
                    <p class="index">54.68</p>
                    <p><img class="red-arrow" src="http://www.albalicentros.com/wp-content/uploads/2016/03/down-254095_960_720.png"
                            alt="green-arrow">6.4%</p>
                </div>
            </div>
            <div class="square-right">
                <div class="content-square-right">
                    <p class="company-name">AMAZON</p>
                    <p class="index">414.44</p>
                    <p><img class="green-arrow" src="http://www.clker.com/cliparts/8/8/2/2/11949856011357057871arrow-up-green_benji_par_01.svg.hi.png"
                            alt="green-arrow">10%</p>
                </div>
            </div>
        </div>
        <div id="middle-column">
            <div class="square-middle">
                <div class="content-square-middle">
                    <h4>Stocks</h4>
                    <div class="align-left">Apple Inc.</div>
                    <div class="align-right">455.25</div><br>
                    <div class="align-left">Google Inc.</div>
                    <div class="align-right">35.28</div><br>
                    <div class="align-left">Yahoo! Inc.</div>
                    <div class="align-right">35.28</div><br>
                    <div class="align-left">Zynga Inc.</div>
                    <div class="align-right">358.25</div><br>
                    <div class="align-left">Ebay Inc.</div>
                    <div class="align-right">35.28</div><br>
                    <div class="align-left">Amazon.com, Inc.</div>
                    <div class="align-right">341.89</div><br>
                    <div class="align-left">Dell Inc.</div>
                    <div class="align-right">85.88</div><br>
                    <div class="align-left">Cicso System Inc.</div>
                    <div class="align-right">54.85</div><br>
                    <div class="align-left">Siemens N</div>
                    <div class="align-right">35.28</div><br>
                    <div class="align-left">Cicso System Inc.</div>
                    <div class="align-right">250.21</div><br>
                    <div class="align-left">Siemens N</div>
                    <div class="align-right">35.28</div><br>
                    <div class="align-left">Cicso System Inc.</div>
                    <div class="align-right">250.21</div><br>
                </div>
            </div>
        </div>
        <div id="left-column">
            <div class="square-left">
                <div class="content-square-left">
                    <p id="date">Day/month/year</p>
                    <p id="hour-minute">Hour/minute/second</p>
                </div>
            </div>
            <div class="square-left">
                <div class="content-square-left">
                    <p id="opening">Opening</p>
                    <p id="close">Close</p>
                </div>
            </div>
        </div>
    </div>
</div>