<link rel="stylesheet" type="text/css" href="./css/account-tabs.css">
<link rel="stylesheet" type="text/css" href="./css/watchlist.css">

<div id="tabs" class="container">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link" href="#/account/portfolio" role="tab">My Portfolio</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="#/account/watchlist" role="tab">Watchlist</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#/account/news" role="tab">News</a>
        </li>
    </ul>
    <div class="tab-content container">
        <div class="row">

            <div class="col-12 col-md-3 col-sm-6 left-column text-center">
                <div class="square-left">
                    <div class="content-square-left">
                        <p id="date">Day/month/year</p>
                        <p id="hour-minute">Hour/minute/second</p>
                    </div>
                </div>
                <div class="square-left">
                    <div class="content-square-left">
                        <p id="opening">Opening</p>
                        <p id="close">Close</p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-3 middle-column">
                <div class="square-middle">
                    <div class="content-square-middle">
                        <h4 class="text-center">Stocks</h4>
                        <div class="align-left">
                            <div> Google</div>
                            <div>Dell Inc.</div>
                            <div>Google Inc.</div>
                            <div>Cicso</div>
                            <div>Yahoo! Inc.</div>
                            <div>Siemens N</div>
                            <div>Zynga Inc.</div>
                            <div>Siemens N</div>
                            <div>Ebay Inc.</div>
                            <div>Cicso</div>
                            <div>Amazon</div>
                            <div> Google</div>
                            <div>Dell Inc.</div>
                            <div>Google Inc.</div>
                            <div>Cicso</div>
                            <div>Siemens N</div>
                            <div>Ebay Inc.</div>                            
                        </div>
                        <div class="align-right text-right">
                            <div>85.97</div>
                            <div>54.95</div>
                            <div>85.88</div>
                            <div>420.68</div>
                            <div>54.85</div>
                            <div>84.98</div>
                            <div>35.28</div>
                            <div>95.65</div>
                            <div>250.21</div>
                            <div>100.25</div>
                            <div>35.28</div>
                            <div>52.65</div>
                            <div>250.21</div>
                            <div>35.28</div>
                            <div>52.65</div>
                            <div>250.21</div>
                            <div>52.65</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-3 col-sm-6 right-column">

                <div class="square-right">
                    <div class="content-square-right">
                        <p class="company-name">APPLE</p>
                        <p class="index">465.67</p>
                        <p>10%</p>
                    </div>
                </div>
                <div class="square-right red">
                    <div class="content-square-right">
                        <p class="company-name">GOOGLE</p>
                        <p class="index">125.23</p>
                        <p>-5%</p>
                    </div>
                </div>
            </div>


            <div class="col-12 col-md-3 col-sm-6 right-column">
                <div class="square-right">
                    <div class="content-square-right">
                        <p class="company-name">AMAZON</p>
                        <p class="index">414.44</p>
                        <p>+10%</p>
                    </div>
                </div>
                <div class="square-right">
                    <div class="content-square-right">
                        <p class="company-name">TESLA</p>
                        <p class="index">54.68</p>
                        <p>+6.4%</p>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
</div>