<link rel="stylesheet" type="text/css" href="./css/header.css">

<div class="navbar-wrapper .headroom">
    <nav class="transperrentbg navbar navbar-toggleable-sm">
        <a id="brand" class="navbar-brand" href="#/">
            <img src="./imgs/logo.png" width="50" height="50" class="d-inline-block align-middle" alt="stock-watch-logo">            StockWatch
        </a>
        <button class="navbar-toggler navbar-toggler-right custom-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav navbar-right my-2 ml-auto w-100 justify-content-end">
                {{#if isLoggedIn}}
                <li class="nav-item">
                    <a class="nav-link btn btn-outline-secondary btn-margin" href="#">
                        <strong>Profile</strong>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-outline-secondary btn-margin" href="#">Log Out</a>
                </li>
                {{else}}
                <li class="nav-item">
                    <a class="nav-link btn btn-outline-success btn-margin" href="#/account/sign-in">
                        <strong>Sign In</strong>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-outline-secondary btn-margin" href="#/account/sign-up">
                        <strong>Sign Up</strong>
                    </a>
                </li>
                {{/if}}
            </ul>
        </div>
    </nav>
</div>