<link rel="stylesheet" type="text/css" href="./css/account-tabs.css">

<div id="tabs" class="container">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link" href="#/account/portfolio" role="tab">My Portfolio</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#/account/watchlist" role="tab">Watchlist</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="#/account/news" role="tab">News</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div>pesho</div>
        <div>ivan</div>
    </div>
</div>