body {
    background: url(stock-1.jpg) no-repeat center center fixed;
    background-size: cover;
}

h1 {
    margin-top: 40px;
    margin-bottom: 15px;
    color: whitesmoke;
}

#signin-modal .modal-dialog {
    width: 400px;
}

input[type=text],
input[type=password] {
    margin-top: 10px;
}

input[type=password] {
    margin-bottom: 10px;
}

.modal-content img {
    height: 60%;
    width: 60%;
}

.modal-header img {
    height: 40px;
    width: 39px;
    position: auto;
    margin: auto;
}